<script setup>
import { useRoute } from 'vue-router';
import { ref } from 'vue';

const routeParams = useRoute().params;
const minutes = ref(parseInt(routeParams.minutes));
const hours = ref(minutes.value >= 60 ? Math.floor(minutes.value / 60) : 0);
const seconds = ref(0);

const startAt = ref(new Date());
const endAt = ref((new Date()).setMinutes(startAt.value.getMinutes() + minutes.value));

const interval = setInterval(() => {
    const current = new Date();
    const diffInSeconds = Math.floor((endAt.value - current) / 1000);
    const diffInMinutes = Math.floor(diffInSeconds / 60);

    minutes.value = diffInMinutes < 60 ? diffInMinutes : diffInMinutes % 60;

    hours.value = diffInMinutes >= 60 ? Math.floor(diffInMinutes / 60) : 0;

    seconds.value = diffInSeconds - (diffInMinutes * 60);

    if (minutes.value === 0 && hours.value === 0 && seconds.value <= 0) {
        clearInterval(interval);
    }


    //console.log('hours', hours.value);
    //console.log('minutes', minutes.value);
    //console.log('seconds', seconds.value);

}, 999);


</script>

<template>
    <div class="box-main">
        <div class="box-countdown">

            <span class="group-time">
                0{{ hours }}:{{ minutes >= 10 ? minutes : '0' + minutes.toString() }}:{{ seconds >= 10 ? seconds : '0' +
                    seconds.toString() }}
            </span>


        </div>
    </div>
</template>

<style scoped>
@font-face {
    font-family: "digital";
    src: url("@/assets/fonts/digital.ttf");
}

.box-main {
    width: 100%;
}

.box-countdown {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-size: 12rem;
    font-family: digital, sans-serif;
    border-radius: 8px;
    border: 5px solid #ff0000;
}

.group-time {
    margin: 0;
    padding: 18px 10px 0 8px;
}
</style>
